.ocultar {
    display: none;
} 

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 13px;
    margin-bottom: 30px;
    color: white;
}
.mostrar {
    display: block;
}

#formulario {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 240px;
    height: 530px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(255, 0, 149) inset,
                 5px 5px 8px rgb(223, 146, 238);
}

#passwordRegistrate {
    margin-top: 10px;
    margin-bottom: 20px;
}

#btnRegistrar, #btnIniciarSesion, #btnCerrarSesion {
    background-color: rgb(3, 7, 255);
    color: white;
    box-shadow: 3px 3px 5px rgb(114, 114, 116);
    margin: 5px;
    border-radius: 4px;
    height: 28px;
}
#btnRegistrar:hover, #btnIniciarSesion:hover, #btnCerrarSesion:hover{
    background-color: rgb(242, 158, 253);
    color: black;
}

#btnRegistrar:active, #btnIniciarSesion:active, #btnCerrarSesion:active{
    transform: scale(0.5);
}

#btngoogle {
    margin-right: 30px;
    margin-bottom: 25px;
}
#btnfacebook {
    margin-left: 30px;
    margin-bottom: 25px;
}
#u {
    margin-bottom: 25px;
}
#m{
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
#t{
    color: black;
}

